<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <!-- view -->
  <!-- ng-app attribute to use the module -->
  <body ng-app="app.demo">
    <!-- model data display and django template are same rep -->
    {% verbatim %}
    <div ng-controller="scrum">
      {{person.name}} is {{person.age}} years old.
    </div>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
      // iife function - to activate angular module on visiting this page
      (function(){
        'use strict';
        // creating angular module with app name followed by demo, and array of dependencies
        // module object is returned with which we can call controller // calling controller method on module object
        // to pass data from angular to html we need to get access to $scope objects
        angular.module('app.demo', []).controller('scrum', ['$scope', ScrumController]); // injecting in controller

        function ScrumController($scope){ // added as argument
          // $scope.person is the model
          $scope.person = {
            name : 'Joe',
            age : 35
          }
        }

      }());

    </script>
  </body>
</html>
